body{
    /* background-color: rgb(70, 69, 69) !important; */
    /* background-color: #FDE8DB!important; */
    /* background-color: #8C584B!important; */
    /* background-color: #221816!important; */
    background-color: black;
}
.cover_img {
    height: 650px !important;
    width: 100%;
    object-fit: cover !important;
}
.abc {
    background-color: transparent !important;
    position: absolute !important;   
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
}
/* Card Image */
.card_hover img {
    height: 250px !important;
    object-fit: cover !important;
    border-radius: 10px 10px 0 0 !important;
}
.cover_img{
    height: 695px !important;
}
.logo {
    height: 80px;
    width: 80px;
}
/* Hover Effect */
.card_hover {
    transition: all 0.3s ease;
    border-radius: 12px;
}

.card_hover:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* Carousel */
.slider img {
    height: 600px;
    object-fit: cover;
}
.sec-4_text{
    background-color:#C18F7B;
}
h2{
    color: #C18F7B !important;
}
.last_sec{
    height: 650px !important;
    width: 100% !important;
    object-fit: cover !important;
    /* border-radius: 20%; */
}
.sec_5heading{
    bottom: 170px;
    right: 20px;
    font-size: 60px;
    color: #C18F7B !important;
}
.sec_5text{
       bottom: 50px;
    right: -12px;
    font-size: 35px;
    width: 45%;
    color: white;
}
.sec_5button{
    bottom: 5px;
    right: 25px;
    padding: 10px;
    background-color: #C18F7B;
}
/* ----------------------------------------------------------------------------------------------------- */
/* .card {
   padding: 20px;
  border-radius: 10px; 
} */

.dark {
  background: #1e1e1e;
  color: white;
  padding:20px 0;
}

.yellow {
  background: #ffe600;
  color: black;
  padding: 60px 0;
}

/* Image */
.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Control heights */
.custom-height {
  height: 600px;
}

.big {
  flex: 2;
}

.small {
  flex: 1;
}
.box p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.imgborder{
    border-radius: 50px !important;
}
.boxborder{
    border-radius: 25px !important;
}
.last_secbox {
    background-color: white;
    /* height: 250px; */
    width: 270px;
    border-radius: 10px;
    padding: 0 30px;
}
.last_secbox h4{
    color:yellow;
    padding: 10px 0;
}
.last_secbox img{
    /* height: 50px; */
    width:  200px;
    padding: 20px 0;
}
.rev1{
   bottom: 40px;
   left: 1200px;
}
.rev2{
   bottom: 40px;
   left: 886px;
}
.rev3{
   bottom: 330px;
   left: 44px;
}
.rev4{
   bottom: 330px;
   left: 353px;
}
