.abc {
    background-color: transparent !important;
    position: absolute !important;   
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
}
.cover_img{
    height: 695px !important;
}
.logo {
    height: 80px;
    width: 80px;
}
.slider img {
  height: 635px;
  width: 1200px;
}
.sec1_pro{
    display: flex;
    justify-content: space-between;
    margin: 70px;
}
.sec1_pro:hover{

}
.sec1_pro img{
    height: 250px;
}
.sec1_pro span{
    position: absolute;
    bottom: 0;
    color: rgb(250, 250, 250);
}